doctype html
html
  meta(charset='UTF-8')
  head
    title= title
    link(rel='stylesheet', href='https://leafletjs-cdn.s3.amazonaws.com/content/leaflet/master/leaflet.css')
    script(src='https://leafletjs-cdn.s3.amazonaws.com/content/leaflet/master/leaflet.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='/lib/leaflet-search.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/leaflet-search.css')
    script.
        var hoodsData = !{JSON.stringify(hoodsData)};
  body
    block content
